.discover-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.discover-section .album-covers {
  width: 30vw;
  margin-left: 2rem;
  height: auto;
  max-width: 350px;
}

.icon-group {
  display: flex;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: .5rem;
  padding: .75rem;
  width: 100px
}